@{
    ViewData["Title"] = "Home Page";
}

<body class="Bg-layout">
    <div class="">
    <div class="text-left">
        <h1 class="text-center">Build your body with us</h1>
        <ul>
            <li class="About-us-info">Занятие  в удобное для вас время.</li>
            <li class="About-us-info">Подбери оптимальную для себя программу.</li>
        </ul>
    </div>
    <div class="d-inline-flex">
        <div class="text-start">
        <iframe class="video" width="400" height="200" src="https://www.youtube.com/embed/_zsW9JTZb_8" title="Ronnie Coleman In His Prime | Full Day Of Eating With The Best Bodybuilder Ever | 8X Mr Olympia" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="text-center">
        <iframe class="video" width="400" height="200" src="https://www.youtube.com/embed/h7yASn8cpOw" title="Muscle Beach" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>
    <div class="text-end">
        <iframe class="video" width="400" height="200" src="https://www.youtube.com/embed/-iRZCS0brC4" title="MY OLYMPIA PREP MORNING ROUTINE | POSING + SHOULDER WORKOUT" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>
    </div>
    <div class="testtext">
        <h1 class="text-center">
            Test Text TEST TEXT test text
        </h1>
    </div>
</div>
</body>
