@{
    ViewData["Title"] = "Home Page";
}
@*    <img class="mySlidesImg" src="./lib/images/24382127_xl.jpg">
*@<body>
   <div id="slideshow">
        <div class="slide-wrapper">       
            <div class="slide">
                <div class="slide-number">
                    <h1>
                        From Everywhere <img src="./lib/images/free-icon-geolocalization-1535668.png"/>
                    </h1>
                    <span style="color:#000000;">
                        From home, Outside the city, In a fitness club
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="slide-number">
                    <h1>
                        Anytime <img src="./lib/images/free-icon-clock-8469896.png"/>
                    </h1>
                    <span>
                        The site works at any time 
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="slide-number">
                    <h1> 
                        Big choice <img src="./lib/images/free-icon-choices-411717.png"/>
                    </h1>
                    <span>
                        Multiple choice of training programs
                    </span>
                </div>
            </div>
            <div class="slide">
                <div class="slide-number">
                    <h1>
                        From any device <img src="./lib/images/free-icon-mobile-phone-545194.png"/>
                    </h1>
                    <span>
                        Laptop, Smartphone, Tablet
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="text-left HomepageTitle">
        <div class="two"><h1 class="text-center">Build your body with us</h1></div>
    </div>

    <div class="HomepageInfo">
        <h1>
            Why gym workouts are a thing of the past
        </h1>
        <div class="home-container">
            <div class="info-item">
            <h2>
                Time saving
            </h2>
            <span>
                You do not need to waste time on the way to the gym and back
            </span>
        </div>
        <div class="info-item">
            <h2>
               Over 100 types of exercises
            </h2>
            <span>
                You are not limited to a few exercises
            </span>
        </div>
        <div class="info-item">
            <h2>
                Multiplicity
            </h2>
            <span>
                Look for different directions and to achieve the desired results
            </span>
        </div>
        <div class="info-item">
            <h2>
                Start now
            </h2>
            <span>
                Do sports anytime, anywhere
            </span>
        </div>
        </div>
    </div>
</body>


