@{
    ViewData["Title"] = "Home Page";
}

<body class="Bg-layout">
<div class="">
    <div class="text-left">
        <div class="two"><h1 class="text-center">Build your body with us</h1></div>
        <ul>
            <li class="About-us-info"><span class="About-us-text">Занятие  в удобное для вас время</span>.</li>
            <li class="About-us-info"><span class="About-us-text">Подбери оптимальную для себя программу.</span></li>
        </ul>
    </div>
    
    <div class="testtext">
        <h3 class="main-info text-start">
            Online personal training with HealthyLifeStyle is an <br />  <spin class="color-text">opportunity to work at your convenience</spin>
        </h3>
        <div class="main-personal">
            <div class="main-personal-item">
                <span>
                    <img class="main-personal-item-icon" src="~/lib/images/free-icon-geolocalization-1535668.png">
                </span>
                <div><h5>В любом месте</h5>
                    <p>Дома, за городом, в фитнес клубе</p>
                </div>
            </div>
            <div class="main-personal-item">
                <span >
                    <img class="main-personal-item-icon" src="~/lib/images/free-icon-clock-8469896.png">
                </span class="main-personal-item-icon">
                <div><h5>В любом время</h5>
                <p>Программа работает в любое время</p>    
                </div>
            </div>
            <div class="main-personal-item">
                <span>
                    <img class="main-personal-item-icon" src="~/lib/images/free-icon-choices-411717.png">
                </span>
                <div><h5>Большой выбор</h5>
                <p>Множетсвенный выбор программ</p>    
                </div>
            </div>
            <div class="main-personal-item">
                <span>
                    <img class="main-personal-item-icon" src="~/lib/images/free-icon-mobile-phone-545194.png">
                </span>
                <div><h5>С любого устройства</h5>
                <p>Подойдет смартфон, планшет, ноутбук</p>    
                </div>
            </div>
        </div>
    </div>  
    <div class="d-inline-flex main-videos">
        <div class="text-start">
        <iframe class="video" width="400" height="200" src="https://www.youtube.com/embed/_zsW9JTZb_8" title="Ronnie Coleman In His Prime | Full Day Of Eating With The Best Bodybuilder Ever | 8X Mr Olympia" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <div class="text-center">
        <iframe class="video" width="400" height="200" src="https://www.youtube.com/embed/h7yASn8cpOw" title="Muscle Beach" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>
    <div class="text-end">
        <iframe class="video" width="400" height="200" src="https://www.youtube.com/embed/-iRZCS0brC4" title="MY OLYMPIA PREP MORNING ROUTINE | POSING + SHOULDER WORKOUT" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>
    </div>
</div>
</body>
