@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="text-left">
        <h1 class="display-4">Build your body with us</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <ol>
            <li>Занятие  в удобное для вас время.</li>
            <li>Подбери оптимальную для себя программу.</li>
        </ol>
    </div>
    <div class="rony">
        <iframe class="video" width="400" height="200" src="https://www.youtube.com/embed/_zsW9JTZb_8" title="Ronnie Coleman In His Prime | Full Day Of Eating With The Best Bodybuilder Ever | 8X Mr Olympia" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
