@{
    ViewData["Title"] = "Food";
}
<h1 class="Food-Title">@ViewData["Title"]</h1>

<body class="Bg-Food"> 
    <container class="Food-container">
        <div class="Main-food-div">
            <div class="Foodtypes">
                 <img class="foodimg" src="~/lib/images/dietfood.jpg">
                 <h2 class="FoodTitle">Diet Food</h2>
                 <span class="food-desc">Food for those who want to lose weight and put their body in order</span>
                <a class="nav-link food-link" asp-area="" asp-controller="Home" asp-action="Dietfood">Подробнее</a>
            </div>
            <div class="Foodtypes">
                 <img class="foodimg" src="~/lib/images/massgain.jfif">
                 <h2 class="FoodTitle" >Mass Gain Food</h2>
                 <span class="food-desc">Food for those who want to gain muscle mass and become bigger</span>
                <a class="nav-link food-link" asp-area="" asp-controller="Home" asp-action="Dietfood">Подробнее</a>
            </div>
            <div class="Foodtypes">
                 <img class="foodimg" src="~/lib/images/keepbody.jfif">
                 <h2 class="FoodTitle" >Keep Body Food</h2>
                 <span class="food-desc">Food for those who want to keep their body fit</span>
                 <a class="nav-link food-link" asp-area="" asp-controller="Home" asp-action="Dietfood">Подробнее</a>
            </div>
        </div>
    </container>
</body>